.family-main-title {
  margin-block: 0 100px;
  font-size: 80px;
  text-align: center;
  background-image: linear-gradient(90deg, #be17d7, #e529de, rgb(152, 6, 162));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.family-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
 
}

.family-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.reverse {
  flex-direction: row-reverse;
  
}

.family-pic {
  width: 400px;
  border-radius: 100px;  
}